<a href="https://colab.research.google.com/github/saimaneesh/python_DS/blob/master/Data_Structure_List%2C_Sets%2C_Tuples%2C_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [10]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a
print(a)

[]

In [11]:
# print the type of a

print(type(a))

<class 'list'>

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [4]:
#code here
languages=['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [5]:
#code here
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [6]:
#code here

for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [8]:
#code here
temp=languages[1]

Print the value of temp and type(temp)

In [9]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [13]:
# code here
print([i for i in languages[3:5]])

['Scala', 42]

Append the element 'Java' in the list

In [19]:
#code here
languages.append('Java')

Remove the element 42 from the list and print the list

In [22]:
#code here
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [23]:
#code here
colors=['Red','Blue','White']

Append the element 'Black' to colors

In [24]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [25]:
# code here
colors.insert(1,'Orange')

Print the list

In [26]:
# code here
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [27]:
# code here
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [28]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [29]:
# code here
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [30]:
# code here
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [31]:
# code here
sent='Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [33]:
# code here
s=sent.split()
print(s)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [35]:
# code here
words_lower=[i.lower() for i in s]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [37]:
# code here
'country' in s

False

Remove the element ‘the’ from the list and print the list.

In [39]:
# code here
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [40]:
#code here
x4=words_lower[:4]

In [41]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [42]:
#code here
print(' '.join(x4))

coronavirus caused lockdowns around

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [43]:
#code here
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [44]:
#code here
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [45]:
#code here
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [51]:
#code here
print(stud_grades_set)

{'C', 'F', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [53]:
#code here
print(type(stud_grades),stud_grades)
print(type(stud_grades_set),stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'C', 'F', 'B', 'A'}

Add a new element ‘G’ to stud_grades_set

In [54]:
#code here
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [56]:
#code here
stud_grades_set.add('F')
print(stud_grades_set)

{'B', 'G', 'F', 'A', 'C'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [57]:
#code here
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [59]:
#code here
print(stud_grades_set)
print(len(stud_grades_set))

{'B', 'G', 'A', 'C'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [60]:
#code here
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [61]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [62]:
#code here
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'blue', 'orange', 'red'}
{'grapes', 'apples', 'orange'}

Find the union of both the sets.

In [65]:
#code here
print(colors_set.union(fruits_set))

{'grapes', 'blue', 'apples', 'orange', 'red'}

Find the intersection of both the sets

In [66]:
#code here
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [68]:
#code here
print(fruits_set.difference(colors_set))

{'grapes', 'apples'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [69]:
#code here

temp=[17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [73]:
for i in temp:
  print(i) #code here

17
Virat
50.0

replace first element with 11 in temp

In [74]:
#code here
temp[0]=11

Set temp1 = tuple(temp)

In [75]:
#code here

temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [76]:
#code here

for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [78]:
#code here

temp1[0]=17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [79]:
#code here
city=("Bangalore",28.9949521,72)

Print first element of city

In [80]:
#code here
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [81]:
#code here

city2=("Chennai",30.01,74)

Create cities which consist of city and city2

In [84]:
#code here
cities=(city,city2)

Print cities

In [85]:
#code here
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [86]:
#code here

print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [87]:
#code here

print(type(tuple))

<class 'type'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [88]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [89]:
#code here
print(d[0])

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [91]:
#code here

actor=d['actor']

Print the type of actor

In [93]:
#code here
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [94]:
#code here

l=d['list']

Print the type of l.

In [96]:
print(type(l))#code here

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [98]:
#code here

d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [99]:
#code here

d.update(d1)

print d

In [100]:
#code here

print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [101]:
#code here
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [102]:
#code here

print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [103]:
#code here
for i,j in d.items():
  print(i,'---->',j)

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [106]:
#code here
c={}
for i in sent:
  c[i]=sent.count(i)

print(c)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform