<a href="https://colab.research.google.com/github/saimaneesh/python_beg/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> Python basics</center>

## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [111]:
# declare two variables, a = 5, b = 'city'
a = 5 # your code here
b = 'city' # your code here

In [112]:
# print type of a
print(type(a))

<class 'int'>

In [113]:
# print type of b

print(type(b))

<class 'str'>

In [114]:
# swap the values of a and b

a,b=b,a

In [115]:
# run this to confirm 
print('a = ' + str(a) + ' , b = ' + str(b))

a = city , b = 5

## Arithmetic Operations

Simple mathematical operations and using math module to apply mathematical functions

- Mathematical operations

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [116]:
# declare two variables, a = 24, b = 3

a = 24 # your code here
b =  3  # your code here
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [117]:
# calculate and print all the possible numeriacl operations on a and b (There are total 7 operations)

print('a+b =',a+b)
print('a-b =',a-b)
print('a*b =',a*b)
print('a/b =',a/b)
print('a%b =',a%b)
print('a//b =',a//b)
print('a^b =',a**b)

a+b = 27
a-b = 21
a*b = 72
a/b = 8.0
a%b = 0
a//b = 8
a^b = 13824

## Math Functions

Math module contains various mathematical functions. 

Reference:- https://youtu.be/gktjNyV0xks

<p style='text-align: right;'> 1 + 4 = 5 points </p>

In [118]:
import math
# declare a variable a = 2
a =  2 #your code here
print('a = ',a)

a =  2

In [119]:
# declare a variable x = 2 and y=5.32167

x= 2 #code here
y=5.32167 #code here

In [120]:
# Print the maximum value between x and y
print(max(x,y))

5.32167

In [121]:
# Round value of y upto 2 decimal places

print(round(y,2))

5.32

In [122]:
# Print square and cube of x and store in a and b variable
a=x**2
b=x**3
print(a,b,sep='\n')

4
8

In [123]:
#print log of x and store it in variable c

c=math.log(x)
print(c)

0.6931471805599453

In [124]:
#print minimum value between x,y,a, b and c

print(min(x,y,a,b,c))

0.6931471805599453

In [125]:
#print the largest integer not greater than c.

print(math.floor(c))

0

In [126]:
#print the smallest integer not less than c.
print(math.ceil(c))

1

## Logical opeations

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [127]:
# declare two variables, a = True, b = False

a = True #your code here
b = False #your code here

print(a)
print(b)

True
False

In [128]:
# print type of a and type of b

print('type of a is',type(a))
print('type of b is',type(b))

type of a is <class 'bool'>
type of b is <class 'bool'>

In [129]:
# print int(a) and int(b)
print('int of a is',int(a))
print('int of b is',int(b))

int of a is 1
int of b is 0

In [130]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
print('not a =',not a)
print('not b =',not b)
print('a and b =',a and b)
print('a or b =',a or b)
print('a and not b =',a and not b)

not a = False
not b = True
a and b = False
a or b = True
a and not b = True

## List Comprehensions

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [131]:
# Using list comprehension, create a list containing numbers from 1 to 20.

l1 = [i for i in range(1,21)]#your code here

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [132]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

l2 = [i for i in l1 if i%2==0] #your code here

print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the length of fruits corresponding fruits
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [133]:
fruits = ['apple','kiwi','orange']# your code here (create a list of your favourite fruits)
len_fruits = [len(i) for i in fruits]# your code here

print(fruits)
print(len_fruits)

['apple', 'kiwi', 'orange']
[5, 4, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings

Reference:-  https://youtu.be/LnQDWIMaJlA

In [134]:
# declare the variables x and y

x = 'cat' #your code here
y = 'dog'#your code here

In [135]:
#Print both the strings

print(x,y,sep='\n')

cat
dog

In [136]:
#Print first character of both x and y. 
print('First ch of X =',x[0])
print('First ch of y =',y[0])

First ch of X = c
First ch of y = d

In [137]:
#Print last character of both x and y.
print('Last ch of x =',x[-1])
print('Last ch of y =',y[-1])

Last ch of x = t
Last ch of y = g

In [138]:
#Print len of both x and y

print('Length of x is',len(x))

print('Length of y is',len(y))

Length of x is 3
Length of y is 3

In [139]:
#concatenate both x and y and store it in variable z and print z

z=x+y
print(z)

catdog

In [140]:
#check if x is part of z 
print(x in z)

True

### String slicing

<p style='text-align: right;'> 2 points </p>

In [141]:
#Create variable a = “pineapple”
a = 'pineapple'# your code here

print(a)

pineapple

In [142]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[:4])
print(a[4:])

pine
apple

In [143]:
#Convert a into upper case
a.upper()

'PINEAPPLE'

## Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [144]:
# Declare a sentence of ‘I am flying to London’
sent = 'I am flying to London'# your code here

print(sent)

I am flying to London

In [145]:
#Print len of the sentence

print("Len of sentence is",len(sent))

Len of sentence is 21

In [146]:
#Using list comprehension, print the word London
[i for i in sent.split() ][-1]

'London'

In [147]:
# Use .split to get list of individual words in the sentence
sent.split()

['I', 'am', 'flying', 'to', 'London']

In [148]:
# Convert sentence in lower case 

sent.lower()

'i am flying to london'

In [149]:
# Convert sentence in upper case .
sent.upper()

'I AM FLYING TO LONDON'

## Functions

### Declare a function which  takes input as x, and returns the square of x. 
Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [150]:
def square(x):
    '''
    add your code
    '''
    x=x**2
    return x

Call the function to find the value of square of 9.

In [151]:
# find the value of square of 9 using the function square
print('Square of 9 is',square(9))

Square of 9 is 81

### Define another function which checks whether a given number if odd or even, for a given input, it should print whether the given number is odd or even.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [152]:
# your code here
def check_odd_even(x):
    if x%2==0:
   
      return '{} is even'.format(x)
    else:
      return '{} is odd'.format(x)

Using both the functions to check whether the square of 3,6,21 is odd or even.

In [153]:
 # your code here
print(check_odd_even(3))
print(check_odd_even(6))
print(check_odd_even(21))

3 is odd
6 is even
21 is odd

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [154]:
#Declare a variable x equal to a number of your choice.
#your code here
x =4 # add a number of your choice (mine is 3 :) )
print(x)

4

In [155]:
#Using an if statement, print whether the number is 0, positive or negative.
if x>0:
  print(x,'is positive')
elif x<0:
  print(x,"is negative")
else:
  print(x,'is 0')

4 is positive

In [156]:
# Define a function, which takes input from the user and prints whether the given input is 0,positive or negative.

def check_num(x):
    if x>0:
      return '{} is positive'.format(x)
    elif x<0:
      return "{} is negative".format(x)
    else:
      return '{} is zero'.format(x)

print(check_num(10))
print(check_num(-2))
print(check_num(0))

10 is positive
-2 is negative
0 is zero

## For loop

<p style='text-align: right;'> 2 points </p>

In [157]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.

x=['India', 'Israel','Canada']

In [158]:
#Using For loop, iterate over the list and print the elements.

for i in x:
  print(i)

India
Israel
Canada

<p style='text-align: right;'> 2 points </p>

In [159]:
# Using For loop, print the table of 2.
for i in range(1,11):
  print(2,'*',i,'=',2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [160]:
#code here
x = [21, 'hello','cream', 20,19,'village']
print([i for i in x if type(i)==int])

[21, 20, 19]

Using For loop, create the following pattern.

<p style='text-align: right;'> 10 points </p>

In [161]:
# print the following pattern

for i in range(1,6):
  print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [162]:
#your code here


for i in range(1,6):
  print('* '*i)

*
* *
* * *
* * * *
* * * * *

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [163]:
def counter(n):
    # add your code here
    i=1
    while i<10:
      print(i)
      i+=1

In [164]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [165]:
# your code here

flag=True
num=5
while flag:
  if num <=50:
    print(num)
  else:
    flag= False
  num+=5

5
10
15
20
25
30
35
40
45
50

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform